section {
    padding: 5% 15%;
    font-size: 24px;
    font-weight: bold;
}

h1 {
    color: blue;
}

.players {
    color: firebrick;
    padding-bottom: 16px;
}
.players span {
    color: blue;
}

.board {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    
    width: 140px;
}

.block {
    background-color: lightgrey;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 60px;
    height: 60px;
    
    border: 2px solid black;
    border-radius: 16px;
}

button {
    margin-top: 18px;
    font-size: 24px;
}